server:
  port: 8080

spring:
  application:
    name: novel-forge-backend
  datasource:
    url: jdbc:mysql://localhost:3306/novel_forge?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true&useUnicode=true&characterEncoding=utf8
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password: 
  sql:
    init:
      mode: always
  
mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true

deepseek:
  api:
    url: https://api.deepseek.com/chat/completions
    key: sk-2b1cef35cf2e402581e8a754ccc6315b
    model: deepseek-chat
